
.event-item{
    height: 10em;
    width: 22em;
    font-size: 1.2em;
    background-color: #D6DBDF;
    border-radius: 15px;
    padding: 20px;
    margin: 10px auto;
}

.event-item p {
    margin: 1em;
}

.event-item h5 {
    display: inline-block;
    border-bottom: 1px solid grey;
}

.attendance-btn {
    padding: 2px 5px;
    border-radius: 5px;
    border-color: rgb(172, 172, 172);
    cursor: pointer;
}

.attendance-btn:hover {
    background-color: honeydew;
}

.attendance-btn:active {
    margin-top: 2px;
}